<section
  class="vh-100"
  style="background-color:lavender;
  "
>
>
<div class="bg">
<div class="card text-center w-50 container h-70" style="width: 300px;">
  <div class="card-header h5 text-white bg-secondary" style="width: 100%;">Password Reset</div>
  <div class="card-body px-5">
      <p class="card-text py-2">
          Enter your email address and we'll send you an email with instructions to reset your password.
      </p>
      <div class="form-outline">
          <input type="email" id="typeEmail" class="form-control my-3" placeholder="Email Address"
          #passwordResetEmail
          required />
      </div>
      <a class="btn btn-primary w-100">
        <input
          type="submit"
          class="btn btnPrimary"
          value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        />
      </a>
      <br/>
        <div class="redirectToLogin" style="color: #393f81">
          <span
            >Go back to ?
            <a class="" href="#">
            <span class="redirect" routerLink="/sign-in">Log In</span>
            </a>
          </span>
        </div>
      </div>
  </div>
</div>
</section>