.bg-light {
    background-color: rgb(35, 69, 123)!important;
    width: 100%;
}

.bg-dark {
    background-color: rgb(85, 132, 172) !important;
}z

.img {
    text-align: right!important;
    padding-right: 20px;
    padding-bottom: 50px;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}