<section
  class="vh-100"
  style="
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(210, 228, 241, 1) 50%,
      rgba(189, 216, 241, 1) 100%
    );
  "
>
  <!-- Top navigation -->
  <nav class="navbar navbar-dark relative-top bg-dark flex-md-nowrap p-0 shadow" style="height: 10%;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
      <img class="brand-logo" src="assets/logo1.png" alt="positronX.io Logo">
    </a>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky" >
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/dashboard">
                <i class="fas fa-user"></i>
                <i class="uil uil-user-circle"></i>User Profile
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/register-student">
                <i class="fas fa-user"></i>
                <i class="uil uil-user-plus"></i>Add Student
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/view-students">
                <i class="fas fa-user"></i>
                <i class="uil uil-list-ul"></i>Student List
              </a>
            </li>
            <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item">
              <a type="button" class="nav-link"(click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i
                ><i class="uil uil-signout"></i>Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="card text-left w-100 container h-70" style="width: 300px">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h2 class="h2">Students List</h2>
            <a
              routerLink="/register-student"
              class="btn btn-success"
              *ngIf="hideWhenNoStudent"
            >
            <i class="uil uil-plus"></i> Add Student
            </a>
          </div>
          <div class="pricing-header mx-auto">
            <div class="no-data text-center" *ngIf="preLoader">
              <img
                src="assets/preloader.gif"
                class="preloader-icon"
                alt="No student"
              />
            </div>
            <div class="no-data text-center" *ngIf="noData">
              <img
                src="assets/no-student.svg"
                class="nodata-msg"
                alt="No student"
              />
              <p class="nodata-msg">No student added yet!</p>
              <a routerLink="/register-student" class="btn btn-success">
                Add Student
              </a>
            </div>
            <div class="table-responsive" *ngIf="hideWhenNoStudent">
              <table
                class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
              >
                <thead>
                  <tr>
                    <th scope="col">Student Id</th>
                    <th scope="col">Student name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile number</th>
                    <th class="text-center" scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let student of Student
                        | paginate : { itemsPerPage: 8, currentPage: p };
                      let i = index
                    "
                  >
                    <th scope="row">{{ student.$key }}</th>
                    <td>{{ student.firstName }} {{ student.lastName }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.mobileNumber }}</td>
                    <td class="text-center action-block">
                      <span
                        class="mr-2 btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Edit"
                        routerLink="/edit-student/{{ student.$key }}"
                        ><i class="uil uil-pen"></i></span
                      >
                      <span
                        class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete"
                        (click)="deleteStudent(student)"
                        ><i class="uil uil-trash-alt"></i></span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
                <div class="col-md 6">
                    <a class="nav-link active" routerLink="/dashboard">
                        <button
                          class="btn btn-sm btn-outline-secondary"
                          (click)="goBack()"
                        >
                        <i class="uil uil-arrow-circle-left"></i>Go Back
                        </button>
                      </a>
                </div>
                <div class="col-md 6">
                    <pagination-controls
                    (pageChange)="p = $event"
                  ></pagination-controls>
                </div>
            </div>
          </div>
        </div>
      </main>
      <!-- Top navigation -->
      <nav
        class="navbar navbar-dark fixed-bottom bg-dark flex-md-nowrap p-0 shadow"
      >
        <a class="navbar-brand col-sm-3 col-md-2 mr-0">
          <!-- <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo"> -->
        </a>
      </nav>
    </div>
  </div>
</section>
