<section
class="vh-100"
  style="
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(85, 131, 219, 1) 50%,
      rgba(3, 15, 226, 1) 100%
    );
  ">
  <div class="card text-center w-50 container h-70" style="width: 300px;">
    <h3 style="background-color:lightgray;">Thank You for Registering</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        </div>
    <!-- Calling SendVerificationMail() method using authService Api -->
    <div class="formGroup">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="authService.SendVerificationMail()">
        <i class="fas fa-redo-alt"></i>
        Resend Verification Email
      </button>
    </div>
    <br>
    <div class="redirectToLogin">
      
      <span>Go back to?
        <a class="redirect" routerLink="/sign-in">
        <span> Sign in</span></a></span>
    </div>
    <br>
  </div>

  
</section>